.darkBody {
  background-color: #141414;
  color: white;
  padding: 0px;
  margin: 0px;
}
.lists {
  min-height: 40px;
  font-size: 20px;
  font-family: garamond;
  padding: 3px;
  border-bottom: 1.25px solid grey;
  align-items: center;
  align-content: center;
}
ul {
  list-style: none;
}
.greenMessage {
  color: green;
  margin-left: 50px;
}
.oneHeader {
  padding-left: 15px;
}

i {
  height: 50px;
}
.wagHeader {
  padding: 0px;
  background-color: #CC0000;
  height: 60px;
  width: 105%;
  display: inline-block;
}

.wagList > li {
  list-style: none;
  display: inline-block;
  align-items: center;
  padding: 5px 16px;
  border: .5px solid silver;
  margin: 0px 10px;
  border-radius: 8px;
}
.wagList > li:hover {
	background-color: #FFC0CB;
}

.wagIcons {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.flexyDiv {
  padding: 25px 5px 10px 5px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  justify-content: center;
  height: 90px;
  width: 140px;
  border-radius: 20px;
}
[v-cloak] {
  display: none;
}
.flexyDiv:hover {
  background-color: #A80000;
}
button:hover {
  background-color: #FFC0CB;
}
button {
  border-radius: 8px;
  height: 30px;
  color: white;
  font-size: 14px;
}
.dateText {
  font-size: 14px;
}

.muchBetterButton {
  background-color: green;
}
.rButton {
  color: white;
  border-radius: 8px;
  height: 22px;
  font-size: 11px;

}
.descBtn {
  border-radius: 8px;
  height: 25px;
  font-size: 12px;
  padding-top: -20px;
}
.descSpan {
  align-items: center;
}

.littleBetterButton {

}

.sameButton {

}

.littleWorsebutton {

}

.wayWorseButton {
  background-color: #B22222;
}

.doButton {background-color: #004225;}
button:active {background-color: #686868;}
.flexyDiv:active {background-color: #686868;}
